
    <h1>숫자 맞히기 게임을 해봅시다</h1>

    <p>1에서 10까지 마음 속으로 숫자 하나를 고르세요</p>
    <p>맞았다면.............! 오늘 당신의 하루는 매우 좋을 겁니다</p>
    <hr>
    <br>
    <form action="/home/result">
       
        이름을 입력해주세요 <br>
        <input type="text" name="username"><br><br>
        <input type="submit" value="입장하기">
    </form>
    
 
    